@tailwind base;
@tailwind components;
@tailwind utilities;

.m-outline-white {
    outline: 1px solid #fff;
}
.m-outline-black {
    outline: 1px solid #000;
}

.scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}
